@media screen and (max-width: 768px) {
  .dr-modal {
    &-content {
      padding: 30px 20px;
    }
  }
}

@media screen and (max-width: 580px) {
  .input-radio {
    &__wrapper {
      margin-top: 15px;

      &-3 .input-radio {
      width: calc(100%/2 - 10px);
    }
    }
  }

  .content-list {
    &__item {
      > * {
        flex-direction: column-reverse;
      }
    }
  }

  .dr-tabs-wrapper .nav-tabs {
    flex-direction: column;
    > * {
      width: 100%;
    }
  }

  .more-info-btn {
    margin-left: 0;
    justify-content: center;
  }
}
