@media screen and (max-width: 580px) {
  .input-radio {
    &__wrapper {
      margin-top: 15px;

      &-3 .input-radio {
      width: calc(100%/2 - 10px);
    }
    }
  }

  .content-list {
    &__item {
      > * {
        flex-direction: column-reverse;
      }
    }
  }

}
