@import "vars";

.sidebar-inner__wrapper {
  &.no-padding {
    .sidebar-inner-insert {
      padding: 0;
    }

    .usps {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.bg-transparent {
    .sidebar-inner {
      background-color: transparent;
    }
  }
}

.ug-slider-control {
  &.ug-arrow-left {
    transform: rotate(180deg);
  }

  &.ug-arrow-right {
  }

  &.ug-arrow-left, &.ug-arrow-right {

    &.ug-skin-dr-default-skin {
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../img/right-arrow.svg);
      width: 18px;
      height: 18px;
      background-size: 18px 18px;
    }
  }
}

.cart-widget .table tr:last-child td * {
  white-space: nowrap;
}

.content-wrapper h2 {
  margin-bottom: 25px;
}

.product-section {
  &__content {
    .content-wrapper {
      p {
        margin-bottom: 30px;
      }

      hr {
        margin-bottom: 30px;
      }
    }
  }
}

.btn {
  &.btn-white_bordered {
    height: 50px;
    width: 100%;
    max-width: 280px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    border: 1px solid $accent;
  }
}


.link {
  color: $accent;

  &__wicon {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    display: flex;

    &-wrapper {
      display: inherit;
    }
  }

  .icon {
    margin: 0 15px 0 0;
  }

  * {
    color: $accent;
  }

}

.fz-13 {
  font-size: 13px;
  line-height: 19px;

  * {
    font-size: inherit;
    line-height: inherit;
  }
}

.notation {
  border-top: 1px solid $grayLight;
  border-bottom: 1px solid $grayLight;
  padding: 15px 0;
  margin: 0 0 30px 0;

  > p {
    margin-bottom: 0;
  }

  > .row > * > * {
    margin: 15px 0;
  }
}

.check-list {
  &__no-padding {
    padding-left: 0 !important;
  }
}

.subtitle {
  margin: 15px 0 30px 0;
}

.product-content {
  .bd-callout {
    padding: 30px;


  }
}

.product-content, .dr-modal {
  .help-btn-block {
    &__custom {
      width: 100%;
      flex-wrap: wrap;

      > * {
        width: auto;
        min-width: 50px;
        flex: 1 1 0;
      }
      > .btn:last-child {
        margin-right: 6px;
      }
    }
  }
}

.bd-callout {
  &__description {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    > * {
      margin: 10px 10px 0 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  &-pseudo {
    @extend .icon;
    background-image: url(../img/info-gray.svg);
  }
  &-close {
    @extend .icon;
    background-image: url(../img/no.svg);
  }

  &-key {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    background-image: url(../img/key.png);
  }
}

.table {
  margin: 25px 0 0 0;

  &.table-rowed {
    border-spacing: 0 10px;
    border-collapse: separate;
    margin-top: 0;

    .table {

      &-thead {
        .table-row {
          border: none;
        }
        .table-cell {
          padding-top: 0;

          &:first-child {
            border: none;
          }
        }
      }

      &-tbody {
        border: none;

        .table-row {
          border: none;

          &.is-active {
            .table-cell {
              &__wrapper {
                border-color: $accent!important;
                > * {
                  border-color: #CBECF2!important;
                }
              }
            }
          }

          .table-cell {
            padding: 0;
            border: none;
            min-width: 100px;

            &__iterator {
              border: none;
              min-width: initial;

              * {
                color: $accent;
              }
              .table-cell__wrapper {
                border: none;
              }
            }

            &__wrapper {
              border-top: 1px solid $grayLight;
              border-bottom: 1px solid $grayLight;
              border-right: none;
              padding: 8px 8px;
              > * {
                border-right: 1px solid $grayLight;
                padding-top: 5px;
                padding-bottom: 5px;
                text-decoration: none;
              }

            }

            &:nth-child(2) {
              .table-cell__wrapper {
                border-left: 1px solid $grayLight;
                border-radius: 2px 0 0 2px;
              }
            }

            &:last-child {
              .table-cell__wrapper {
                border-right: 1px solid $grayLight;
                border-radius: 0 2px 2px 0;
                > * {
                  border-right: none;
                }
              }
            }
          }
        }
      }
    }
  }

  &-wrapper {
    overflow: auto;
  }

  & &-thead, &-tbody {
    .table {
      &-cell {
        border: none;
        vertical-align: middle;
      }

      &-row {
        border: none;
        border-bottom: 1px solid $grayLight;

      }
    }
  }

  & &-thead {
    .icon {
      cursor: pointer;
    }

    .table {
      &-row {
        border-bottom: 1px solid $dark;
      }

      &-cell {
        &__wrapper {
          white-space: nowrap;
        }
      }
    }
  }

  & &-tbody {
    .table {
      &-cell {
        padding: 30px 5px;

        &__wrapper {
          border-right: 1px solid $grayLight;
        }

        &__iterator {
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;

          > * {
            font-weight: inherit;
            font-size: inherit;
            line-height: inherit;
            border: none;
          }
        }
      }

      &-row {
        &:last-child {
          border: none;

          .table {
            &-cell {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }

  & &-cell {

    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .icon {
      margin-left: 10px;
    }

    img {
      width: auto;
      max-height: 80px;
      padding: 0;
      margin: 0;
    }
  }

  .custom-select {
    &__standart {
      border: none;
      text-decoration: underline;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 25px;
    }
  }
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input-counter {
  display: inline-flex;
  flex-wrap: nowrap;
  border: 1px solid $grayLight;

  .icon {
    width: auto;
    height: auto;
  }

  input[type=number] {
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: $dark;
    width: 100%;
    min-width: 30px;
  }

  &__btn {
    padding: 0 10px;
  }

  > * {
    outline: none !important;
    height: 40px;
    background: #fff;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    color: $dark;
  }
}

.counter-block {

  &__wrapper {
    margin-top: 20px;
    > .row {
      margin: 0 -5px;

      > * {
        padding: 5px;
      }
    }
  }

  &__item {
    padding: 8px 8px 8px 20px;
    background: $graySuperLight;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    &.is-active {
      background: $accent;
      color: #fff;

      * {
        color: inherit;
      }

      .input-counter {
        border-color: transparent;
      }
    }

    &:not(.is-active) {
      .input-counter {
        > * {
          pointer-events: none;
        }
      }
    }
  }

  &__title {
    margin-right: 10px;
    white-space: nowrap;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .icon-key {
      margin: 0 7px;
    }
  }
}

.input-radio {
  margin: 0 10px 10px 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 0;

    &-3 {
      .input-radio {
        width: calc(100% / 3 - 20px);
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    > input {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      -webkit-appearance: none;
      appearance: none;
      -moz-appearance: none;
      -ms-progress-appearance: unset;
      left: 0;
      z-index: -1;

      &:checked {
        ~ .input-radio {
          &__box {
            > * {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  &__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: $radioSize;
    height: $radioSize;
    min-width: $radioSize;
    min-height: $radioSize;
    border-radius: 50px;
    border: 2px solid $accent;
    margin-right: 10px;
  }

  &__point {
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 50px;
    background: $accent;
    width: $radioPointSize;
    height: $radioPointSize;
    transform: scale(0);
    transition: all .2s ease-in;
  }

  img {
    max-height: 34px;
    margin-right: 5px;
  }
}

.block-content {
  margin-top: 30px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &__text {
    > * {
      white-space: nowrap;
    }
  }
}

.offer-table {
  &__custom {
    .left-side {
      .header {
        padding-top: 0;
      }
    }
  }
}

.offer-table {
  &__custom {
    .item .body > div {
      padding: 16px 15px 13px 15px;
      text-align: center;
    }

    .item .body > div.no:before,
    .item .body > div.yes:before {
      display: none;
    }

    .left-side .body {
      > div {
        text-align: right;

        .info {
          margin-left: 15px;
        }

        &:nth-child(2n + 1) {
          background: transparent;
        }

        .info {
          opacity: 0.18;

          &.is-active {
            opacity: 1;
          }
        }
      }
    }
  }
}

.green-square {
  margin-bottom: 10px;
}

.offer-table .item .header .icon {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.dr-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-weight: bold;

  &-group {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    > *:not(:last-child) {
      margin-right: 10px;
    }
  }
  &.btn-gray {
    background: $graySuperLight;
    color: $dark;
  }
}

.content-list {
  &__item {
    padding: 30px 0;
    margin: 0;
    border-bottom: 1px solid $grayLight;
    &:first-child {
      padding-top: 0;
    }
  }
  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $gray;
    width: 100%;
    height: 100%;
    position: relative;
    max-height: 85%;
    min-height: 180px;
    margin-bottom: 15px;
  }
  > .btn {
    margin-top: 30px;
    max-width: 100%;
    margin-bottom: 30px;
  }
  &__info {
    max-width: 450px;
  }
}

.sidebar {
  padding: 0;
  margin-bottom: 20px;

  &-category {
    margin-bottom: 60px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__list {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      margin: 0 0 20px 0;
      padding: 0;
      a {
        color: $dark;
        &:hover {
          color: $accent;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-wrapper {
      border: 1px solid $grayLight;
      border-radius: 4px;
      padding: 30px;
      margin-bottom: 20px;
    }
  }
}

.min-w-100 {
  min-width: 100%;
}

.page-content__helpInformation {
  .sidebar-right {
    .usps {
      display: none !important;
    }
  }
}

.dr-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparentize($dark, .5);
  backdrop-filter:blur(15px);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in;
  transform: translateY(-15px);

  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &-content {
    max-height: 100%;
    overflow: hidden auto;
    width: 100%;
    max-width: 970px;
    padding: 50px 100px;
    position: relative;
    z-index: 999;
    background: #fff;
  }
  &-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    > * {
      padding: 0;
      margin: 0;
    }
    .icon-close {
      filter: grayscale(1);
      opacity: .4;
    }
  }
}

html {
  &.modal-is-active {
    overflow: hidden!important;
  }
}


.step-item {
  &__counter {
    display: inline-flex;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background: $accent;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 10px 0 0;
  }

  &__tab {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.dr-tabs-wrapper {
  .nav-tabs {
    margin: 0 -100px;
    padding: 0 100px;

    .nav-item {
      &.active {
        ~ * {
          a.nav-link {
            color: $grayDark;
            .step-item__counter {
              background: $grayLight;
              color: $grayDark;
            }
            .step-item__title {
              color: $grayDark;
              font-weight: normal;
            }
          }
        }
      }
      a.nav-link {
        padding: 25px 40px 25px 0;
        border: none;
        position: relative;
        background-color: transparent;
        color: $dark;

        &.active {
          color: $dark;

          .step-item__counter {
            background: $accent;
            color: #fff;
          }
          .step-item__title {
            color: $dark;
            font-weight: bold;
          }

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: $accent;
          }
        }

        .step-item__counter {
          background: $dark;
          color: #fff;
        }
        .step-item__title {
          color: $dark;
          font-weight: normal;
        }
      }

    }
  }
}

.radius {
  &-4 {
    border-radius: 4px!important;
  }
}

.c {
  &-accent {
    color: $accent!important;
  }
}

.help-btn-block {
  &__light {
    background: $graySuperLight;
    border: 1px solid $grayLight;
    .btn-white {
      border: 1px solid $grayLight;
    }
  }
}

.tab-pane {
  padding: 0;

  &__footer {
    margin-top: 40px;
    > * {
      > * {
        align-items: center;
        display: flex;
      }
    }
    p {
      font-size: 16px;
      line-height: 24px;
      margin: 20px 0;
      color: $dark;
      * {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }
}

.max-w {
  &-130 {
    max-width: 130px;
  }
}

.tab {
  &-pane {
    .dr-btn {
      height: 50px;
    }
    &__footer {

    }
    &__title {
      margin: 35px 0;
    }
  }
}

.configurator-instruction {
  padding: 20px 15px 20px 20px;
  margin: 0;
  border: 1px solid $grayLight;
  border-radius: 0 15px 15px 15px;
  * {
    font-size: 13px;
    line-height: 19px;
    color: #000;
  }
}

.color-cilinder {
    width: 14px;
    height: 14px;
    min-height: 14px;
    min-width: 14px;
    display: inline-block;
    border-radius: 50px;
    padding: 0;
    margin: 0;
    background-color: $grayLight;
    &__messing {
      background-color: #A38F50;
    }
    &__zwart {
      background-color: #253238;
    }
    &__nikkel {
      background-color: #A9A9A9;
    }
}

.more-info-btn {
  margin: 20px 0 20px 30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
  }
}

.checkbox-list {
  margin-bottom: 20px;

  &__title {
    .icon {
      margin: 0 0 0 10px;
    }
  }
  &__inner {
    display: block;
    margin-top: 20px;

    > * {
      width: 100%;
    }
  }
}

.checkbox {
  cursor: pointer !important;
  margin-bottom: 10px;

  * {
    transition: all .2s ease-in!important;
  }

  input[type="checkbox"] {
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: unset;
    visibility: hidden;
    margin: 0;
    padding: 0;
    position: absolute;

    &:checked {
      ~ .checkbox {

        &-box {
          background: $accent;
          border-color: $accent;
          svg {
            fill: #fff;
          }
        }
        &-text {
          color: $accent;
        }

      }
    }
  }

  &-box {
    background: transparent;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border: 1px solid $grayLight;
    border-radius: 2px;
    svg {
      fill: $grayLight
    }
  }

  &-text {
    font-size: 14px;
    line-height: 21px;
    color: $dark;
    margin: 0 0 0 13px;
    padding: 0;
  }

}

@import "media-main-custom";


